.userList {
    width: 500px;
    padding: 10px 10px;
    height: 100%;
    overflow: auto;
  
    .messengerSearch {
      margin-bottom: 20px;
  
      .title {
        margin-bottom: 20px;
        text-align: center;
        h1 {
          color: black;
          font-size:22px;
        }
      }
    }
  
    .usersList {
      .item {
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
        &.active {
          background-color: #c9c9c9;
        }
        .itemCont {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
    
        .img {
          img {
            width: 70px;
            border-radius: 100%;
          }
        }
    
        .text {
          h1 {
            font-size: 14px;
            color: black;
            margin: 0;
          }
    
          p {
            margin: 0;
            max-width: 95%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }
  }