header {
    background-color:#1675e0;
    padding:15px 10px;
    position: fixed;
    width: 100%;
    z-index: 9;
    .titleAndInfo {
        display: flex;
        align-items: center;
        justify-content:space-between;
        .title {
            h1 {
                font-weight: normal;
                font-size:17px;
                color:white;
            }
            a {
                &:hover {
                    text-decoration:none;
                }
            }
        }
        .info {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            color:white;
            .rs-btn {
                color:white;
                &:hover {
                    color:#1675e0;
                }
            }
            .rs-dropdown-open {
                .rs-btn {
                    color:#1675e0;
                }
            }
            h1 {
                font-size: 14px;
                font-family: Helvetica, sans-serif !important;
            }
            i {
                margin-left:5px;
            }
            > a {
                color:white;
                font-size: 14px;
                
            }
        }
    }
}